<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions">
    <h:head>
        <title><ui:insert name="title">Facelet Title</ui:insert></title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <link rel="icon" href="../../../../favicon.ico"/>

        <title>Starter Template for Bootstrap</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

        <!-- Custom styles for this template -->
        <h:outputStylesheet library="css" name="Custom_Lab7.css"/>
    </h:head>
    <h:body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="#{fn:startsWith(view.viewId, '/welcome') ? 'nav-item active' : 'nav-item'}">
                        <h:link class="nav-link" outcome="welcome.xhtml" value="Home"/>
                    </li>

                    <ui:fragment rendered="#{loginController.player}">
                        <li class="#{fn:startsWith(view.viewId, '/player') ? 'nav-item active' : 'nav-item'}">
                            <h:link class="nav-link" outcome="/player/welcome.xhtml" value="Player Portal"/>
                        </li>
                    </ui:fragment>

                    <ui:fragment rendered="#{loginController.parent}">
                        <li class="#{fn:startsWith(view.viewId, '/parent') ? 'nav-item active' : 'nav-item'}">
                            <h:link class="nav-link" outcome="/parent/welcome.xhtml" value="Parent Portal"/>
                        </li>
                    </ui:fragment>

                    <ui:fragment rendered="#{loginController.admin}">
                        <li class="#{fn:startsWith(view.viewId, '/admin') ? 'nav-item active' : 'nav-item'}">
                            <h:link class="nav-link" outcome="/admin/welcome.xhtml" value="Admin Portal"/>
                        </li>
                    </ui:fragment>


                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <h:form>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <h:commandLink class="dropdown-item" action="#{loginController.doLogout()}" value="Logout" />
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </h:form>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"/>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <main role="main" class="container">

            <h1><ui:insert name="title">Facelet Title</ui:insert></h1>
            <ui:insert name="content">Default Content</ui:insert>

        </main><!-- /.container -->

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
    </h:body>
</html>

