<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/template/portalTemplate.xhtml"
                xmlns:ezcomp="http://xmlns.jcp.org/jsf/composite/ezcomp">

    <ui:define name="title">
        Editing Player #{adminController.player.name}
    </ui:define>

    <ui:define name="content">
        <ezcomp:player player="#{adminController.player}" 
                   readonly="false" 
                   action="#{adminController.executeSavePlayer()}"/>
    </ui:define>

</ui:composition>
