<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/template/portalTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        Welcome Admin
    </ui:define>

    <ui:define name="content">
        Welcome Admin #{loginController.remoteUser}

        <h2>Players:</h2>

        <h:form>
            <h:commandLink action="#{adminController.doCreatePlayer()}" value="Add New Player to System"/>
        </h:form>

        <h:dataTable value="#{adminController.players}"
                     var="player"
                     styleClass="table table-striped table-hover">
            <h:column>
                <h:outputText value="#{player.id}"/>
                <f:facet name="header"><h:outputText value="ID"/></f:facet>
            </h:column>
            <h:column>
                <h:outputText value="#{player.name}"/>
                <f:facet name="header"><h:outputText value="Name"/></f:facet>
            </h:column>
            <h:column>
                <h:outputText value="#{player.email}"/>
                <f:facet name="header"><h:outputText value="Email"/></f:facet>
            </h:column>
            <h:column>
                <h:outputText value="#{player.birthday}">
                    <f:convertDateTime type="date" dateStyle="long"/>
                </h:outputText>
                <f:facet name="header"><h:outputText value="Birthday"/></f:facet>
            </h:column>
            <h:column>
                <h:outputText value="#{player.videogames}"/>
                <f:facet name="header"><h:outputText value="Videogames"/></f:facet>
            </h:column>
            <h:column>
                <h:outputText value="#{player.user.userName}"/>
                <f:facet name="header"><h:outputText value="Username"/></f:facet>
            </h:column>
            <h:column>
                <h:form>
                    <h:commandLink action="#{adminController.doCreatePlayer()}" value="Create "/>
                    <h:commandLink action="#{adminController.doViewPlayer(player)}" value="View "/>
                    <h:commandLink action="#{adminController.doEditPlayer(player)}" value="Edit "/>
                    <h:commandLink action="#{adminController.doDeletePlayer(player)}" value="Delete"/>
                </h:form>
            </h:column>


        </h:dataTable>

        <h2>Parents:</h2>
        <h:dataTable value="#{parentService.findAll()}" 
                     var="parent"
                     styleClass="table table-striped table-hover">
            <h:column>
                <h:outputText value="#{parent.id}"/>
                <f:facet name="header"><h:outputText value="ID"/></f:facet>
            </h:column>

            <h:column>
                <h:outputText value="#{parent.name}"/>
                <f:facet name="header"><h:outputText value="Name"/></f:facet>
            </h:column>
            <h:column>
                <h:outputText value="#{parent.user.userName}"/>
                <f:facet name="header"><h:outputText value="Username"/></f:facet>
            </h:column>
        </h:dataTable>

    </ui:define>

</ui:composition>
