<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="player" required="true" type="edu.iit.sat.itmd4515.adamarjian.domain.Player"/>
        <cc:attribute name="readonly" type="java.lang.Boolean" required="false" default="true" />
        <cc:attribute name="action" required="false" method-signature="java.lang.String action()" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:form>
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="playerId" value="Game ID #{cc.attrs.player.id}" />
                <h:inputHidden class="form-control" id="playerId" value="#{cc.attrs.player.id}" />
                <h:message for="playerId" errorClass="text-danger" />
            </h:panelGroup>
            
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="playerName" value="Player Name:" />
                <h:inputText class="form-control" 
                             id="playerName" 
                             value="#{cc.attrs.player.name}" 
                             p:placeholder="Player Name"
                             readonly="#{cc.attrs.readonly ? 'true' : 'false'}"/>
                <h:message for="playerName" errorClass="text-danger" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="playerEmail" value="Player Email:" />
                <input jsf:value="#{cc.attrs.player.email}" 
                       class="form-control" 
                       type="email" 
                       id="email" 
                       name="email"
                       placeholder="Player Email"
                       jsf:readonly="#{cc.attrs.readonly ? 'true' : 'false'}"/>
                <h:message for="playerEmail" errorClass="text-danger" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel value="Birthday" for="Player Birthday"/>
                <h:inputText value="#{cc.attrs.player.birthday}" 
                             class="form-control" 
                             p:type="date" 
                             id="playerBirthday"
                             readonly="#{cc.attrs.readonly ? 'true' : 'false'}">
                    <f:convertDateTime pattern="yyyy-MM-dd"/>
                </h:inputText>
                <h:message for="playerBirthday" errorClass="text-danger" />
            </h:panelGroup>

            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel value="Bank" for="Select Player Bank"/>
                <h:selectOneListbox value="#{cc.attrs.player.birthday}" 
                             class="form-control" 
                             p:type="date" 
                             id="playerBank"
                             value="#{cc.attrs.player.bank.id}">
                    <f:selectItems value="#{BankService.findAll()}"
                                   var="bank"
                                   itemLabel="#{bank.name}"
                                   itemValue="#{bank.id}"/>
                </h:selectOneListbox>
            </h:panelGroup>


            <ui:fragment rendered="#{not cc.attrs.readonly}">
                <h:commandButton class="btn btn-primary" action="#{cc.attrs.action}" value="Save" />
            </ui:fragment>
        </h:form>
    </cc:implementation>
</html>