<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="show" required="true" type="edu.iit.sat.itmd4515.adamarjian.domain.VideoGame"/>
        <cc:attribute name="readonly" type="java.lang.Boolean" required="false" default="true" />
        <cc:attribute name="action" required="false" method-signature="java.lang.String action()" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:form>
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="gameId" value="Game ID #{cc.attrs.show.id}" />
                <h:inputHidden class="form-control" id="gameId" value="#{cc.attrs.show.id}" />
                <h:message for="gameId" errorClass="text-danger" />
            </h:panelGroup>
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="gameName" value="Game Name:" />
                <h:inputText class="form-control" 
                             id="gameName" 
                             value="#{cc.attrs.show.name}" 
                             p:placeholder="Game Name"
                             readonly="#{cc.attrs.readonly ? 'true' : 'false'}"/>
                <h:message for="gameName" errorClass="text-danger" />
            </h:panelGroup>

            <ui:fragment rendered="#{not cc.attrs.readonly}">
                <h:panelGroup layout="block" class="form-group">
                    <h:outputLabel for="showPlayerss" value="Select Players:" />
                    <h:selectManyListbox class="form-control" 
                                         id="showPlayers" 
                                         converter="#{PlayerConverter}"
                                         readonly="#{cc.attrs.readonly ? 'true' : 'false'}"
                                         value="#{cc.attrs.show.players}" >
                        <f:selectItems value="#{playerService.findAll()}"
                                       var="player"
                                       itemLabel="#{player.name}"
                                       itemValue="#{player}"/>
                    </h:selectManyListbox>
                    <h:message for="showPlayers" errorClass="text-danger" />
                </h:panelGroup>
            </ui:fragment>
            
            <ui:fragment rendered="#{cc.attrs.readonly}">
                <h:outputLabel value="Show Players: "/>
                <h:outputText value=" #{playerController.getGamePlayerSFormatted(cc.attrs.show)}" />
            </ui:fragment>
            
            <ui:fragment rendered="#{not cc.attrs.readonly}">
                <h:commandButton class="btn btn-primary" action="#{cc.attrs.action}" value="Save" />
            </ui:fragment>
        </h:form>
    </cc:implementation>
</html>