<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/template/portalTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        Welcome Parent
    </ui:define>

    <ui:define name="content">
        Welcome Parent #{loginController.remoteUser}
        
        <h2>Parents:</h2>
        <h:dataTable value="#{parentService.findByUserName(loginController.remoteUser)}" 
                     var="parent"
                     styleClass="table table-striped table-hover">
            <h:column>
                <h:outputText value="#{parent.id}"/>
                <f:facet name="header"><h:outputText value="ID"/></f:facet>
            </h:column>

            <h:column>
                <h:outputText value="#{parent.name}"/>
                <f:facet name="header"><h:outputText value="Name"/></f:facet>
            </h:column>
            <h:column>
                <h:outputText value="#{parent.user.userName}"/>
                <f:facet name="header"><h:outputText value="Username"/></f:facet>
            </h:column>
        </h:dataTable>
        
    </ui:define>

</ui:composition>
