<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/template/portalTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
         Welcome Player
    </ui:define>

    <ui:define name="content">
        Welcome Player #{loginController.remoteUser} Your information is!:
        
          <h2>Players:</h2>
          <h:dataTable value="#{playerController.player}" 
                     var="player"
                     styleClass="table table-striped table-hover">
            <h:column>
                <h:outputText value="#{player.id}"/>
                <f:facet name="header"><h:outputText value="ID"/></f:facet>
            </h:column>
            <h:column>
                <h:outputText value="#{player.name}"/>
                <f:facet name="header"><h:outputText value="Name"/></f:facet>
            </h:column>
            <h:column>
                <h:outputText value="#{player.email}"/>
                <f:facet name="header"><h:outputText value="Email"/></f:facet>
            </h:column>
            <h:column>
                <h:outputText value="#{player.birthday}">
                    <f:convertDateTime type="date" dateStyle="long"/>
                </h:outputText>
                <f:facet name="header"><h:outputText value="Birthday"/></f:facet>
            </h:column>
            <h:column>
                <h:outputText value="#{player.videogames}"/>
                <f:facet name="header"><h:outputText value="Videogames"/></f:facet>
            </h:column>
            <h:column>
                <h:outputText value="#{player.user.userName}"/>
                <f:facet name="header"><h:outputText value="Username"/></f:facet>
            </h:column>
        </h:dataTable>
        
           <h2>Your Video games:</h2>
        <h:form>
            <h:commandLink action="#{playerController.doCreateGame()}" value="Add New Videogame"/>
        </h:form>
           <h:dataTable value="#{playerController.player.videogames}" 
                     var="game"
                     styleClass="table table-striped table-hover">
            <h:column>
                <h:outputText value="#{game.id}"/>
                <f:facet name="header"><h:outputText value="ID"/></f:facet>
            </h:column>
            <h:column>
                <h:outputText value="#{game.name}"/>
                <f:facet name="header"><h:outputText value="Name"/></f:facet>
            </h:column>
            <h:column>
                <h:outputText value="#{playerController.getGamePlayerSFormatted(game)}"/>
                <f:facet name="header"><h:outputText value="Players"/></f:facet>
            </h:column>
            <h:column>
                <h:form>
                    <h:commandLink action="#{playerController.doViewGame(game)}" value="View "/>
                    <h:commandLink action="#{playerController.doEditGame(game)}" value="Edit "/>
                    <h:commandLink action="#{playerController.doDeleteGame()}" value="Delete"/>
                </h:form>
            </h:column>
        </h:dataTable>
        
        
        
        
    </ui:define>

</ui:composition>
