<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./WEB-INF/template/portalTemplate.xhtml">

    <ui:define name="title">
        Welcome Home
    </ui:define>

    <ui:define name="content">
        Welcome to the Live Life Responsibly Home Page
    </ui:define>

</ui:composition>
